*, *::before, *::after {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 0;
  margin: 0;
  background-color:blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.calculator-grid-container {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(140px, auto) repeat(5, 100px);
  justify-content: center;
  align-content: center;
  border: 1px solid beige;
  width: 400px;
  font-size: larger;
  font-family: sans-serif;
}

.calculator-grid-container > button {
  font-size: 2rem;
  background-color: lightgray;
  border: 2px solid beige;
  cursor: pointer;
}

.calculator-grid-container > button:hover {
  background-color: rgba(211, 211, 211, 0.65);
}

.display {
  background-color: rgba(0, 0, 0, .75);
  color: white;
  grid-column: 1 / 5;
  padding: 8px;
  font-size: 2rem;
  /* Diese beiden testen */
  overflow-wrap: break-word;
  word-break: break-word;
}

.display > .calculation-first-part {
  color: rgba(255, 255, 255, .75);
}

.span-two {
  grid-column: span 2;
}


.calculator-grid-container > div:not(.display) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-grid-container > .display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

